
.container img{
    /* transform:matrix(0.25,0,0,0.25,0,0) */
}


.upward{
    transform:matrix(1,0,0,1,0,0);
    transition: 1s;
}


.downward{
    transform:matrix(0.25,0,0,0.25,0,0);
    transition: 1s;
}
